<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<nz-modal
  *ngIf="selectedAmbulance"
  [(nzVisible)]="isVisible"
  nzTitle="Assign ambulance"
  nzOkText="Assign now"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleAssign()"
  ><div style="width: 100%; text-align: center; margin-bottom: 20px;">
    <nz-avatar
      [nzSize]="64"
      nzIcon="car"
      style="background-color:#ca2222"
    ></nz-avatar>
    <h3 style="margin-top: 10px">Ambulance {{ selectedAmbulanceId }}</h3>
    Assign to:
  </div>
  <form nz-form>
    <nz-form-item>
      <nz-input-group nzPrefixIcon="user">
        <input
          type="text"
          nz-input
          placeholder="Patient name"
        /> </nz-input-group
    ></nz-form-item>
    <nz-form-item>
      <nz-input-group nzPrefixIcon="pushpin">
        <input nz-input placeholder="Patient address"/></nz-input-group
    ></nz-form-item>
  </form>
</nz-modal>
