<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<nz-modal
  *ngIf="selectedAmbulance"
  [(nzVisible)]="isVisible"
  nzTitle="Book ambulance"
  nzOkText="Book now"
  (nzOnCancel)="handleCancel()"
  ><div style="width: 100%; text-align: center; margin-bottom: 20px;">
    <nz-avatar
      [nzSize]="64"
      nzIcon="car"
      style="background-color:#ca2222"
    ></nz-avatar>
    <h3 style="margin-top: 10px">Ambulance: {{ selectedAmbulanceId }}</h3>
  </div>
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Date</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-date-picker></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Time</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-time-picker></nz-time-picker>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
